<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://d3js.org/d3.v5.js"></script>
        <style type="text/css">
          div.tooltip {
            position: absolute;
            text-align: center;
            color: black;
            width: 275px;
            height: 37px;
            padding: 2px;
            font: 12px sans-serif;
            background: grey;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
          }
        </style>
    </head>

    <body>
        <div id="map"></div>
    </body>
</html>

<script type="text/javascript">

    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    const width = document.getElementById("map").offsetWidth * 0.95,
    height = 600,
    legendCellSize = 20,
    colors = ['#d4eac7', '#c6e3b5', '#b7dda2', '#a9d68f', '#9bcf7d', '#8cc86a', '#7ec157', '#77be4e', '#70ba45', '#65a83e', '#599537', '#4e8230', '#437029', '#385d22', '#2d4a1c', '#223815'];

    const svg = d3.select('#map').append("svg")
        .attr("id", "svg")
        .attr("width", width)
        .attr("height", height)
        .attr("class", "svg");
    const projection = d3.geoNaturalEarth1()
    .scale(1)
    .translate([0, 0]);

    const path = d3.geoPath()
        .pointRadius(2)
        .projection(projection);

    const cGroup = svg.append("g");



    d3.json("{% url "worldMap:api" %}").then(function(geojson) {

        var b  = path.bounds(geojson),
            s = .99 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
            t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

        projection
            .scale(s)
            .translate(t);

        // Création de la carte
        cGroup.selectAll("path")
            .data(geojson.features)
            .enter()
            .append("path")
            .attr("d", path)
            .attr("id", d => "code" + d.id)
            .attr("class", "country");


        // On récupère les 4 points contenus dans la BDD que l'on stocke dans la variable "marks"
        var marks = [];
        {% for mark in markers %}
          marks.push({long: {{mark.longitude}}, lat: {{mark.latitude}} })
        {% endfor %}

        // On ajoute les markers sur la map
        cGroup.selectAll(".mark")
            .data(marks)
            .enter()
            .append("svg:image")
            .attr('width', 20)
            .attr('height', 25)
            .attr("xlink:href",'https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/24x24/DrawingPin1_Blue.png')
            .attr("transform", function(d) {
              if (d.long > 0) {
                if (d.lat > 0){
                  return "translate(" + projection([d.long*0.98,d.lat*1.05]) + ")";
                }else{
                  return "translate(" + projection([d.long*0.98,d.lat*0.88]) + ")";
                }
              }else{
                if (d.lat > 0){
                  return "translate(" + projection([d.long*1.1,d.lat*1.05]) + ")";
                }else{
                  return "translate(" + projection([d.long*1.1,d.lat*0.88]) + ")";
                }
              }
              })
            .on("mouseover", function(d) {
            div.transition()
                .duration(200)
                .style("opacity", .9);
            div.html("Latitude : " + d.lat + "<br/>"
                  +  "Longitude : " + d.long)
                .style("left", (d3.event.pageX + 30) + "px")
                .style("top", (d3.event.pageY - 30) + "px")
            })
            .on("mouseout", function(d) {
                div.style("opacity", 0);
                div.html("")
                    .style("left", "-500px")
                    .style("top", "-500px");
            });

    });

</script>
